:root.theme-dark {
  --h1-color: #db00ff;
  --bg-color: #000028;
  --text-color: #000028;
  --title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --h1-color: #db00ff;
    --bg-color: #000028;
    --text-color: #000028;
    --title-color: #ff0070;
    --accent-color: #ff0070;
    --bg-image: url("../images/cover-image-dark.png");
    --main-text-color: #f1b2ce;
  }
}
