:root.theme-dark {
  --button-color: #FF0070;
  --h1-color: #db00ff;
  --bg-color: #000028;
  --text-color: #000028;
  --title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --main-text-color: #f1b2ce;
  --acccent-rgb: rgba(255 0 112 / 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-color: #FF0070;
    --h1-color: #db00ff;
    --bg-color: #000028;
    --text-color: #000028;
    --title-color: #ff0070;
    --accent-color: #ff0070;
    --bg-image: url("../images/cover-image-dark.png");
    --main-text-color: #f1b2ce;
    --acccent-rgb: #FF007066;
  }
}
