:root.theme-light {
  --button-color: #353430;
  --acccent-rgb: #32312D66;
  --header-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --button-color: #353430;
  --acccent-rgb: #32312D66;
  --header-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --main-text-color: #353430;
}
}
