:root.theme-light {
  --h1-color: #ffc2e6;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ff8dcb;
  --accent-color: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --h1-color: #ffc2e6;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ff8dcb;
    --accent-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
  }
}
