:root {
  --font-family: "IBM Plex mono", sans-serif;
  --h1-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: 18px;
  --thin-line-height: 83%;
  --thick-line-height: 23.4px;
  --bold-font-weight: 700;
  --light-font-weight: 400;
}
