:root {
  --font-family: "IBM Plex mono", sans-serif;
  --large-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --large-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  --font-size: 18px;
  --thin-line-height: 83%;
  --thick-line-height: 23.4px;
  --bold-font-weight: 700;
  --light-font-weight: 400;
}
